<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ClearMinimalist | About</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="main_left">
      <div class="logo"><a href="#"><img src="images/logo.gif" width="223" height="72" border="0" alt="" /></a></div>
      <div class="clr"></div>
      <div class="menu">
        <ul>
          <li><a href="index.html"><span>Home</span></a></li>
          <li><a href="#"><span>Services</span></a></li>
          <li><a href="portfolio.html"><span>Portfolio</span></a></li>
          <li><a href="about.html" class="active"><span> About Us </span></a></li>
          <li><a href="contact.html"><span> Contact Us</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <h2>&nbsp;</h2>
      <h2>Our News</h2>
      <p><span>12 Dec 2015 | 0 comments</span><br />
        <strong>Duis nec porttitor lorem</strong><br />
        Mauris et nisi urna nonfaucibus magna. Integer lacus ante then ullamcorper ut vulputate..</p>
      <p><span>12 Dec 2015 | 0 comments</span><br />
        <strong>Duis nec porttitor lorem</strong><br />
        Mauris et nisi urna nonfaucibus magna. Integer lacus ante then ullamcorper ut vulputate..</p>
      <h2>&nbsp;</h2>
      <h2>What They Say</h2>
      <p>&quot;Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse voluptas nulla pariatur?&quot;</p>
      <p><em><strong>by: John S., webdesigner</strong></em></p>
    </div>
    <div class="main_right">
      <div class="search">
        <form id="form1" name="form1" method="post" action="#">
          <p>Search Site:</p>
          <label><span>
          <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
          </span>
          <input name="b" type="image" src="images/search.gif" class="button" />
          </label>
          <div class="clr"></div>
        </form>
      </div>
      <div class="clr"></div>
      <div id="slider2">
        <div class="controls-center">
          <h3>About Us</h3>
          <div class="clr"></div>
        </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <h2>About to company </h2>
      <p class="grey">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p class="grey">&nbsp;</p>
      <h2>Our mission</h2>
      <p class="grey">Mauris et tellus lobortis tellus fringilla faucibus. Vestibulum quis dictum ante. Proin dui est, tincidunt eget mollis in, dictum vitae elit. Nunc eu tortor purus, ac volutpat ligula. Pellentesque nisl neque, tempor eget euismod et, tempor eu urna. Curabitur vulputate condimentum ullamcorper. Vivamus interdum euismod nisi, at fringilla arcu dapibus quis.</p>
      <ul>
        <li>In auctor viverra leo, at aliquet dolor</li>
        <li> Donec ut urna arcu, ut ultricies purus</li>
        <li>Sed eu tortor eget risus auctor</li>
        <li>Morbi non nisi eget quam ultricies congue</li>
        <li>Phasellus nec nunc sed lectus varius dictum</li>
      </ul>
      <h2>Our attitude</h2>
      <p class="grey">Mauris et tellus lobortis tellus fringilla faucibus. Vestibulum quis dictum ante. Proin dui est, tincidunt eget mollis in, dictum vitae elit. Nunc eu tortor purus, ac volutpat ligula. Pellentesque nisl neque, tempor eget euismod et, tempor eu urna. Curabitur vulputate condimentum ullamcorper. Vivamus interdum euismod nisi, at fringilla arcu dapibus quis.</p>
      <p class="grey">In cursus, urna in tempus dapibus, elit sapien elementum turpis, ut semper lectus purus nec enim. Suspendisse non neque massa, eget molestie ipsum. Mauris ut elit sed nulla adipiscing hendrerit. Cras nisl turpis, consequat vel facilisis non, molestie quis nunc.Sed tristique sollicitudin odio laoreet aliquam. UtMauris et tellus</p>
      <ul>
        <li> In vitae lorem et dolor egestas feugiat.</li>
        <li> Fusce id sem lorem, sed placerat ligula.</li>
        <li>Nullam fringilla purus quis lorem euismod aliquam.</li>
      </ul>
      <p class="grey"><em>“ In cursus, urna in tempus dapibus, elit sapien elementum turpis, ut semper lectus purus nec enim. Suspendisse non neque massa, eget molestie ipsum. Mauris ut elit sed nulla adipiscing hendrerit. “</em></p>
      <p class="grey"><em>” Cras nisl turpis, consequat vel facilisis non, molestie quis nunc.Sed tristique sollicitudin odio laoreet aliquam. UtMauris et tellus lobortis tellus fringilla faucibus. Vestibulum quis dictum ante. “</em></p>
      <p class="grey"><em>“ Proin dui est, tincidunt eget mollis in, dictum vitae elit. Nunc eu tortor purus, ac volutpat ligula. Pellentesque nisl neque, tempor eget euismod et, tempor eu urna. Curabitur vulputate condimentum ullamcorper. ”</em></p>
      <p class="grey">&nbsp;</p>
      <p>&nbsp;</p>
    </div>
    <div class="clr"></div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p>© Copyright websitename . All Rights Reserved. Home | Contact | RSS <br />
        (Blue) <a href="http://www.bluewebtemplates.com">Website Templates</a></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
